.FeedItem_container {
  /* Layout styling */
  .color-fg-muted {
    display: flex;
    flex-direction: column;
  }
  
  .d-flex {
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .flex-items-baseline {
    align-items: baseline;
  }

  .flex-column {
    flex-direction: column;
  }

  .width-full {
    width: 100%;
    max-width: 303px;
  }

  .list-style-none {
    & .d-flex.flex-items-baseline {
      flex-direction: column;

      & span, img, a {
        display: none;
      }
    }
  }

  /* Avatar styling */

  .avatar-user {
    border-radius: 50%;
    border: 2px solid #e0e0e0;
  }

  /* Link styling */

  .Link--primary {
    color: rgb(20, 184, 166);
    text-decoration: none;
  }

  .Link--primary:hover {
    text-decoration: underline;
  }

  .Link--muted {
    color: rgb(20, 184, 166);
    text-decoration: none;
  }

  .Link--muted:hover {
    text-decoration: underline;
  }

  /* Box styling */

  .Box {
    border-radius: 8px;
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Miscellaneous styling */

  .color-shadow-medium {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .repo-language-color {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  /* Space and Layout */

  .py-4 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .p-3 {
    padding: 12px;
  }

  .mr-2 {
    margin-right: 8px;
  }

  .mr-3 {
    margin-right: 12px;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .mt-1 {
    margin-top: 4px;
  }
  
}